@use './fonts';
@use './buttons';

:root {
  --bg-color: #f3f2f1;
  --gray-900: #222222;
  --orange-300: #fd8d3a;
  --orange-400: #fa7436;
  --blue-800: #2a224f;
  --font-poppins: 'Poppins', sans-serif;
  --font-volkhov: 'Volkhov', sans-serif;
  --font-inter: 'Inter', sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100vw;
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: var(--orange-300);
  text-align: right;
  font-family: var(--font-poppins);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
