.container {
  display: flex;
  justify-content: center;
  align-items: center;

  background: rgba(0, 0, 0, 0.4);
  width: 100vw;
  height: 100vh;

  position: fixed;
  top: 0;
  left: 0;
}

.dialog {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  border-radius: 12.028px;
  background: #fff;
  box-shadow: 0px 6.014134407043457px 12.028268814086914px 0px
    rgba(16, 24, 64, 0.08);
}
